// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.required::after {
  margin-left: 3px;
  content: "*";
  color: red;
}

.w-48 {
  width: 48% !important;
}